<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h3>My Portfolio</h3>
                <h1>Jamie Hogg</h1>
                <h5>Welcome to my portfolio where you can see any of the work I've done.</h5>
                <h5>If you decide you like anything you see, feel free to contact me with any queries.</h5>				
            </div>
            <div class="col-lg-8 col-lg-offset-2 himg">
                <img src="{{ "/assets/img/homepage_pic.jpg" | prepend: site.baseurl }}" class="img-responsive">
            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->
