<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{{ "/assets/ico/favicon.ico" | prepend: site.baseurl }}">

    <title>{{ site.title }}{% if page.title %} - {{ page.title }}{% endif %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ "/assets/css/bootstrap.css" | prepend: site.baseurl }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ "/assets/css/main.css" | prepend: site.baseurl }}" rel="stylesheet">
    <link href="{{ "/assets/css/font-awesome.min.css" | prepend: site.baseurl }}" rel="stylesheet">
    
    <!-- Custom CSS -->
    <!--<link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">-->


    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->



<script>var w=window;var p = w.location.protocol;if(p.indexOf("http") < 0){p = "http"+":";}var d = document;var f = d.getElementsByTagName('script')[0],s = d.createElement('script');s.type = 'text/javascript'; s.async = false; if (s.readyState){s.onreadystatechange = function(){if (s.readyState=="loaded"||s.readyState == "complete"){s.onreadystatechange = null;try{loadwaprops("3z76e92fe9754d2adc5c512fdfd5b0e2ad","3z015ab8543500d28a967a82b94c3c2051","3zaac5ac3a5d80abbc2b9cd7f738ebc31320f85b3a0750fae2270b8220510588b0","3z39bcbbe22f67d341fd0bef396652fd203365b0273911a7ce3b70a10236082983","0.0");}catch(e){}}};}else {s.onload = function(){try{loadwaprops("3z76e92fe9754d2adc5c512fdfd5b0e2ad","3z015ab8543500d28a967a82b94c3c2051","3zaac5ac3a5d80abbc2b9cd7f738ebc31320f85b3a0750fae2270b8220510588b0","3z39bcbbe22f67d341fd0bef396652fd203365b0273911a7ce3b70a10236082983","0.0");}catch(e){}};};s.src =p+"//mh.zoho.eu/hub/js/WebsiteAutomation.js";f.parentNode.insertBefore(s, f);</script>
</head>

<script type="text/javascript" id="zsiqchat">var $zoho=$zoho || {};$zoho.salesiq = $zoho.salesiq || {widgetcode: "f7bf998b444408128aec566527bef252a0deee7ef4e56fb2b9daa14e9eee585e0b5e354ee404cab7a41e04eb58edaf7d", values:{},ready:function(){}};var d=document;s=d.createElement("script");s.type="text/javascript";s.id="zsiqscript";s.defer=true;s.src="https://salesiq.zoho.eu/widget";t=d.getElementsByTagName("script")[0];t.parentNode.insertBefore(s,t);</script>
